*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    font-family: sans-serif;
}
.menu{
    width: 100%;
    background-color: black;
    list-style-type: none;
    height: 50px;
   position: fixed;
  
}
.menu li{
    display: inline-table;
    width: 100px; 
    text-align: center;
    position: relative;
}
a{
    color: white;
    line-height: 50px;
    text-decoration: none;
}
.menu li:hover{
    background-color: gray;
}
.menu a:hover{
    color: black;
}
.menu2{
    background-color: rgb(207, 204, 204);
    display: none;
    position: absolute;
}
.menu li:hover .menu2{
    display: block;
}
.pic img{
    width: 100%;
    height: 800px;
    /* position: relative; */
    /* background-image: url("https://www.w3schools.com/w3images/la.jpg"); */
}
.txt{
    /* position: absolute; */
    color: rgb(255, 255, 255);
    margin-top: -80px;
    font-size: 20px;
    text-align: center;
}
.cnt{
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.cnt .title{
    font-size: 30px;
    letter-spacing: 5px;
}
.a1{
    font-style: italic;
    color: gray;
    font-size: 15px;
    position: relative;
    margin-top: 20px;
}
.txt1{
    width: 50%;
    margin-left: 25%;
    text-align: justify;
    margin-top: 50px;
}
.product{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.sp{
    width: 200px;
    margin-left: 20px;
}
.img{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-image: url("https://i.pinimg.com/236x/e1/70/de/e170de3e848eb9eee6c7b95467f1639c--animation-google-larva-cartoon.jpg");
}
#p2{
    background-color: black;
    height: 900px;
}
#tit{
    margin-top: 100px;
    color: white;
}
.date{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 50px;
     width: 600px;
     margin-left: 450px;
}
.date1{
   height: 40px;
   line-height: 40px;
   margin-left: -400px;
   float: left;
}
.sold_out{
    background-color: red;
    color: white;
    padding: 5px;
    margin-left: 15px;
}
hr{
    width: 58%;
    margin-left: 400px;
}
.num{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 3px;
    height: 20px;
    font-size: 10px;
    margin-top: 6px;
    line-height: 20px;
    width: 20px;
    border-radius: 50px;
    float: right;
    margin-right: 16px!important;
    text-align: center;
}
.product2{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    height: 350px;
}
#sp_img{
    width: 200px;
    margin-left: 20px;
    background-color: white;
}
.img1{
    width: 100%;
    height: 150px;
    background-size: contain;
    background-image: url("https://i.pinimg.com/236x/5a/9b/19/5a9b193e80b050b2c5deead9868f152f.jpg");
}
.img1:hover{
    opacity: 0.7;
}
.in4{
    text-align: left;
    margin-left: 10px;
}
.city{
    margin-top: 20px;
    font-weight: bold;
}
.time{
    font-size: 13px;
    opacity: 0.7;
    margin-top: 10px;
}
.xxx{
    margin-top: 10px;
    font-size: 15px;
    width: 80%;
}
.in4 span{
    position: absolute;
    margin-top: 20px;
    color: white;
    /* padding: 7px; */
    width: 80px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    padding-left: 10px;
    background-color: black;
}
.in4 span:hover{
    background-color: gray;
    color: black;
}
.add_log{
    display: flex;margin-top: 100px;
    height: 250px;
}
.add {
    text-align: left;
    padding: 10px;
    width: 20%;
    font-size: 19px;
    margin-left: 30%;
    /* float: right; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.log input{
    height: 40px !important;
}
#name,#mail{
    width: 200px;
}
#mess{
    margin-top: 10px;
    float: left;
    width: 410px;
}
.log span{
    position: absolute;
    margin-top: 50px;
    color: white;
    /* padding: 7px; */
    width: 80px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    padding-left: 5x;
    background-color: black;
    margin-left: -80PX;
}
.log span:hover{
    background-color: gray;
    color: black;
}
.footer {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer p{
    text-align: center;
}
.footer i{
    font-size: 25px;
    /* margin-left:; */
}
.icon i:hover{
    opacity: 0.7;
}
.icon{
    margin-left: 46%;
    /* font-size: 25px; */
}
.footer a{
    text-decoration: underline;
    color: black;
    /* text-align: center; */
}