*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 99%;
    background-color: gray;
    border: gray solid 7px;
}
.header{
    width: 98.8%;
    height: 70px;
    background-color: pink;
    margin: 9px;
}
.body{
    width: 100%;
    display: flex;
}
.left{
    width: 60%;
    margin: 8px;
}
.top_left{
    width: 100%;
    height: 120px;
    background-color: rgb(150, 221, 185);
    margin: 2px;
}
.bottom_left{
    width: 100%;
    height: 300px;
    display: flex;
}
.bottom_left_1{
    width: 50%;
    height: 100%;
      margin:12px 4px;
}
.bottom_left_1a{
    width: 99%;
    height: 49%;
    background-color: bisque;
  
}
.bottom_left_1b{
    width: 99%;
    height: 48%;
    background-color: rgb(140, 198, 236);
    margin: 10px 0px 2px 0px;
}
.bottom_left_2{
    width: 50%;
    height: 100%;
    background-color: rgb(206, 228, 154);
    margin:12px 1px;
}
.right{
    width: 40%;
    height: 400px;
    margin: 9px;
}
.right_top{
    width: 100%;
    height: 90px;
    display: flex;
}
.right_top1{
    width: 79%;
    height: 100%;
    background-color: rgb(12, 207, 110);
    margin-right: 2px;
}
.right_top2{
    width: 19%;
    height: 100%;
    background-color: rgb(172, 132, 236);
    margin-left: 9px;
}
.right_menu{
    width: 99.4%;
    height: 58px;
    background-color: blueviolet;
    margin: 9px 1px;
}
.right_body{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top:10px;
}
.right_content1{
    width: 32%;
    height: 100%;
    background-color: rgb(101, 203, 221);
}
.right_content2{
    width: 32%;
    height: 100%;
    background-color: rgb(112, 247, 130);
    margin-left: 10px;
}
.right_content3{
    width: 32%;
    height: 100%;
    background-color: rgb(226, 126, 193);
    margin-left: 10px;
}
.right_bottom{
    margin-top: 11px;
    width: 99.3%;
    height: 50px;
    background-color: rgb(248, 216, 109);
}
.footer{
    width: 98.4%;
    height: 70px;
    background-color: rgb(22, 5, 17);
    margin: 12px
}
